# Google認証
APP_GOOGLE_CLIENT_ID=
APP_GOOGLE_CLIENT_SECRET=
APP_GOOGLE_CALLBACK=http://localhost:8787/auth/google/callback

# Google認証が通った時にリダイレクトするURL
APP_GOOGLE_AUTH_REDIRECT="http://localhost:4321/app#/auth"
